In [ ]:
list1=[1,2,3,4,5,6,6,7,8,9,10]
sum1=0
for i in list1:
    sum1=sum1+i
print(sum1)

In [4]:
def name(name='adithyan',greeting='hello'):

    print(f"{greeting} {name}")
    
name()

hello adithyan

In [7]:
a=input("enter a name")
b=input("enter a age")
print(f"my name is {a} and my age is {b}")

my name is adithyan and my age is 20

In [11]:
a=input("enter a name")
b=int(input("enter a age"))

dict1={}
dict1[a]=b
print(dict1)

{'adii': 90}

cocepts of python:

class

def

file handling

conditions

loops.

execptions

In [ ]:
min_balnace=1000
print("welcome to the bank")
a=int(input("enter the pin"))
pin=1234
while True:
    if pin==1234:
        print("enter 1 for withdraw and 2 for enquiry")
        option=int(input("enter the option"))
        if option==1:
            amnt=int(input("enter the amount to withdraw"))
            if amnt>min_balnace:
                print("your balance is low")
            else:
                print("withdraw successful")
        elif option==2:
            balance=int(input("enter the balance"))
            if balance<min_balnace:
                print("your balance is low")
            else:
                print("your balance is sufficient")
    else:
        print("invalid option")

welcome to the bank
enter 1 for withdraw and 2 for enquiry
your balance is low
enter 1 for withdraw and 2 for enquiry
your balance is sufficient
enter 1 for withdraw and 2 for enquiry
enter 1 for withdraw and 2 for enquiry
withdraw successful
enter 1 for withdraw and 2 for enquiry

In [10]:
import csv

result = {}
row_count = 0

with open("data.csv", newline="") as file:
    reader = csv.reader(file)

    for row in reader:
        
        if row_count == 0:
            headers = row
            for h in headers:
                result[h] = []
        else:
            
            result[headers[0]] = result[headers[0]] + [row[0]]
            result[headers[1]] = result[headers[1]] + [(row[1])]
            result[headers[2]] = result[headers[2]] + [(row[2])]

        row_count += 1

print(result)

{'name': ['sri', 'gautham', 'james'], 'salary': ['10', '2', '3'], 'capable': ['0', '1', '1']}

In [15]:

try:
    a=int(input("enter a number"))
    b=int(input("enter another number"))
    c=a+b
    print(c)
except ValueError:
    print("Please enter a valid integer.")
except TypeError:
    print("Invalid input type. Please enter a number.")
else:
    print("Operation completed successfully.")
finally:
    print("This block will always execute.")

168
Operation completed successfully.
This block will always execute.

In [7]:
a=int(input("enter a number"))
b=10
c=int(a)+b
print(c)

ValueError: invalid literal for int() with base 10: 'ak'

In [ ]:
print("sum")